<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Petición 3</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff8f0;
            padding: 40px;
            text-align: ;
        }
        h1 { color: #d45f00; font-size: 2.5em; }
        p { color: #666; font-size: 1.1em; }
        strong { color: #d45f00; }

    </style>
</head>
<body>
<h1> Nombres de todos los animales</h1>
<ul>
    <li th:each="nombre : ${nombresAnimales}" th:text="${nombre}"></li>
</ul>
</body>
</html>